<ion-header>
    <ion-toolbar>
        <ion-title>
            Mon compte
        </ion-title>
    </ion-toolbar>
</ion-header>  

<ion-content>
    
    <h2>{{ps.getPrenom()}} {{ps.getNom()}}</h2>
    <ion-card>
    <ion-card-header>
        <ion-card-title>
            Mon compte
        </ion-card-title>
        <ion-card-subtitle>
            Affiché lorsque l'utilisateur est connecté
        </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
    <div class="bouton">
        <p>
            <ion-button shape="round" expand="block" color="primary" fill="outline" (click)="boutonOption()">Paramètres</ion-button>
        </p>
        <p>
            <ion-button size="large" expand="block" strong="true" shape="round" color="danger" fill="solid" (click)="boutonDeconnexion()">Deconnexion</ion-button>
        </p>
        <p>
            <ion-button size="large" expand="block" strong="true" shape="round" color="success" fill="solid" (click)="presentModal()">modal</ion-button>
        </p>
        <p>
            <ion-button size="large" expand="block" strong="true" shape="round" color="success" fill="solid" (click)="toastInt()">testint</ion-button>
        </p>
    </div>
    </ion-card-content>
    </ion-card>

    
    

</ion-content>



