<ion-header>
  <ion-toolbar>
    <ion-title>
      Mon compte
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Prenom Nom</h2>

  <p>
  <ion-button shape="round" expand="block" color="primary" fill="outline">Personnaliser mon compte</ion-button>
  </p>
  <p>
   <ion-button shape="round" expand="block" color="primary" fill="outline">Paramètres de confidentialité</ion-button>
  </p>
  <p>
  <ion-button size="large" expand="block" strong="true" shape="round" color="danger" fill="solid">Deconnexion</ion-button>
  </p>
</ion-content>