<ion-content>
  <ion-card>
      <ion-card-header>
              <ion-card-title>
                  Connexion
              </ion-card-title>
              <ion-card-subtitle>
                  Si vous possédez deja un compte sur OpenPicNic, veuillez vous connecter.
              </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
          <ion-item>
              <ion-label position="floating">Adresse mail</ion-label>
              <ion-input [(ngModel)]="connexionMail" type="email" required></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="floating">Mot de passe</ion-label>
              <ion-input [(ngModel)]="connexionPass" type="password"></ion-input>
          </ion-item>
          <br>
          <ion-button size="large" expand="block" strong="true" shape="round" color="primary" fill="solid" (click)="Connexion()">Se connecter</ion-button>
      </ion-card-content>
  </ion-card>

  <ion-card>
          <ion-card-header>
                  <ion-card-title>
                      Inscription
                  </ion-card-title>
                  <ion-card-subtitle>
                      Si vous ne possédez pas de compte OpenPicNic, inscrivez-vous dans le formulaire ci-dessous. Pensez a remplir toutes les informations.
                  </ion-card-subtitle>
          </ion-card-header>
          
          <ion-card-content>
                  <ion-item>
                          <ion-label position="floating">Prenom</ion-label>
                          <ion-input [(ngModel)]="inscriptionPrenom" type="text"></ion-input>
                  </ion-item>
                  <ion-item>
                          <ion-label position="floating">Nom</ion-label>
                          <ion-input [(ngModel)]="inscriptionNom" type="text"></ion-input>
                  </ion-item>
                  <ion-item>
                          <ion-label position="floating">Adresse mail</ion-label>
                          <ion-input [(ngModel)]="inscriptionMail" type="email"></ion-input>
                      </ion-item>
                      <ion-item>
                          <ion-label position="floating">Mot de passe</ion-label>
                          <ion-input [(ngModel)]="inscriptionPass" type="password"></ion-input>
                      </ion-item>
                      <ion-item>
                              <ion-label position="floating">Repeter le mot de passe</ion-label>
                              <ion-input [(ngModel)]="inscriptionPass2" type="password"></ion-input>
                      </ion-item>
                      <br>
                      <ion-button size="large" expand="block" strong="true" shape="round" color="success" fill="solid" (click)="inscription()">S'inscrire</ion-button>
          </ion-card-content>
      </ion-card>

      
  
  

</ion-content>



