
<ion-content padding>


    <ion-card>
        <ion-card-header>
            <ion-icon name="compass" item-start></ion-icon> <ion-card-title>Details du lieu</ion-card-title>
        </ion-card-header>

        <ion-card-content>
                <ion-item>
                    X :  <ion-badge item-end>{{x}}</ion-badge>
                </ion-item>
                <ion-item>
                    Y :  <ion-badge item-end>{{y}}</ion-badge>
                </ion-item>

                <ion-spinner name="crescent" color="danger"></ion-spinner>
        </ion-card-content>
    </ion-card>

    <ion-button expand="block" fill="outline" (click)="dismiss()">Fermer</ion-button>

    


</ion-content>
