
<ion-content padding>


    
        
            <ion-icon name="compass" item-start></ion-icon> <ion-card-title>Details du lieu</ion-card-title>
        
            <ion-item>
                <ion-icon name="flag" item-start></ion-icon> {{lieu.adresse}}
            </ion-item>
            <ion-item>
                Sanitaire : <ion-badge>{{this.wc}}</ion-badge>
            </ion-item>
            <ion-item>
                <ion-icon name="heart"></ion-icon> <ion-badge>{{lieu.votePos}}</ion-badge> <ion-icon name="heart-dislike"></ion-icon> <ion-badge>{{lieu.votePos}}</ion-badge>
            </ion-item>
            <ion-button size="large" expand="block" strong="true" shape="round" color="primary" fill="solid" (click)="ms.navigateTo(lieu.latitude, lieu.longitude)">Naviguer vers le lieu</ion-button>
            

    <ion-button expand="block" fill="outline" (click)="dismiss()">Fermer</ion-button>

    


</ion-content>
