<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="dismiss()">
                <ion-icon slot="icon-only" name="close-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
      <ion-title>Page de bienvenue</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>

  <ion-slides pager="true">
    <ion-slide>
      <h1>Slide 1</h1>
    </ion-slide>
  
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
  
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>

</ion-content>
