<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="dismiss()">
                <ion-icon slot="icon-only" name="close-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Page de bienvenue</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-slides pager="true">
        <ion-slide>
            <img src="assets/bienvenue/pageBienvenue2.png">
        </ion-slide>

        <ion-slide>
            <img src="assets/bienvenue/pageBienvenue1.png"><br/>
            
        </ion-slide>
    </ion-slides>
    <ion-button size="large" expand="block" strong="true" shape="round" color="primary" fill="outline"(click)="goToConnexion()">Connexion</ion-button>
    <a href='/app/tabs/(home:home)'><h1>Quitter</h1></a>

</ion-content>

<script>
  var slides = document.querySelector('ion-slides');
    slides.options = {
      effect: 'flip'
    }
</script>