ion-button {
    --margin-right : 100px;
    --margin-start : 10%;
    margin-top: 2%;
}

.bouton{
    margin-top : 100px;
}

ion-icon{
    margin-right : 20px;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    float: left;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.fit-picture{
    float: right;
}