<ion-header>
    <ion-toolbar>
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="text">
        <h1>OpenPicNic</h1>
    </div>
    <div class="bouton">
        <ion-button shape="round" color="primary" fill="outline" ><ion-icon name="pin"></ion-icon>Ajouter un lieu</ion-button><br />
        <ion-button shape="round" color="primary" fill="outline">Organiser un picnic</ion-button><br />
        <ion-button shape="round" color="primary" fill="outline">Recomander un picnic</ion-button><br />
    </div>
</ion-content>
