ion-button {
    --margin-right : 100px;
    --margin-start : 10%;
    margin-top: 2%;
}

.largeButton{
    margin-top : 100px;
    
}

ion-icon{
    margin-right : 20px;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    margin-bottom:0;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-top:0;
}

.fit-picture{
    float:right;
    position: absolute;
    top : 8%;
    right : 5%;;
    width: 65px;
    height: 65px;
}