<ion-header>
    <ion-toolbar>
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="text">
        <h1>OpenPicNic</h1>
    </div>
    <div class="bouton">
        <button ion-button id="BoutonAjout" color="Light" round>Ajouter un lieu</button> <br />
        <button ion-button id="BoutonOrganiser" color="Light" round>Organiser un picnic</button> <br />
        <button ion-button id="BoutonRecommande" color="Light" round>Recommander un pic-nic</button> <br />
    </div>
</ion-content>
