button {
    font-size: 50px;
    text-align: center;
    margin-left: 40%;
    width: 500px;
    margin-top : 2%;
    border-radius : 10px;
    background-color : tomato;




    //fne
}

.bouton{
    margin-top : 100px;
}
