<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button (click)="dismiss()">
              <ion-icon slot="icon-only" name="close-circle"></ion-icon>
          </ion-button>
      </ion-buttons>
    <ion-title>Ajouter un lieu de PicNic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Le lieu de picnic sera créé sur votre position actuelle</ion-card-subtitle>
    <ion-card-title>Votre position :</ion-card-title>
  </ion-card-header>
<ion-card-content>
  <p>X <ion-icon name="arrow-dropright"></ion-icon> {{getX()}}</p>
  <p>Y <ion-icon name="arrow-dropright"></ion-icon> {{getY()}}</p>
</ion-card-content>
</ion-card>

  <ion-item>
    <ion-label position="floating">Description du lieu :</ion-label>
    <ion-textarea [(ngModel)]="descLieu" type="text"></ion-textarea>
</ion-item>

  <ion-button size="large" expand="block" strong="true" shape="round" color="success" fill="solid" (click)="creerLieu()">Ajouter a la carte</ion-button>

</ion-content>
